parameters:
    level: max
    phpVersion: 80400
    paths:
        - src
        - tests
        - examples
        - consumer-verification/bin
    excludePaths:
        analyse:
            - vendor
